#content {
    max-width: 1600px;
    margin: 0 auto;
}
.logo {
    width: 80px
}
nav a {
    text-align: center;
    background-color: #d9ed92;
    color: black;
    text-decoration: none;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
#hero-img {
    width: 100%;
}
.botton-box { 
    text-align: center;
}
.icon{
    width: 80px;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
}
body {
    background-color: #fff;
}
header {    
    background-color: #168aad;
}
nav a:hover {
    background-color: #168aad ;
    color: #fff    
}
.book, .join {
    background-color: #d9ed92;
    color: black;
    text-decoration: none;
}
.book:hover, .join:hover {
    background-color: #52b69a ;
    color: #fff 
}
#background {
    background-color: #52b69a
}
.msg {
    background-color: #d9ed92;
}
footer {
    background-color: #168aad;
    color: #d9ed92;
} 
footer a {
    background-color: #d9ed92;
    color: black;
    text-decoration: none; 
} 
footer a:hover { 
    background-color: #168aad ;
    color: #fff;
}
footer p {
    font-size: 1.2em;
} 
footer p a:hover {
    text-decoration: underline;
}     
.home-title {
    background-color: #168aad;
    color: #fff
}
h4 {
    background-color: #168aad;
    color: #fff
}
.msg h2 { 
    background-color: #168aad;
    color: #fff
}
.msg p {
    background-color: #168aad;
    color: #fff
}


           
