@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Lato, Roboto;
}

:root {
    --primary-color: #3E72B7;
    --secondary-color: #EAC024;
    --accent1-color: #6D95C8;
    --accent2-color: white;

    --text-background-secondary: #3E72B7;
    --text-background-accent1: #fff;
}

header {
    background-color: var(--secondary-color);
    height: 12vh;
    display: flex;
    padding: 0 4vw;
}

.logo-container {
    width: 22vw;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#logo_link>img {
    width: 100%;
}

/* Style the links inside the pill navigation menu */
.pill-nav a {
    display: inline-block;
    color: var(--text-background-secondary);
    text-align: center;
    padding: 14px;
    margin: 3vh 8vw;
    text-decoration: none;
    font-size: 2.5vh;
    border-radius: 5px;
}

/* Change the color of links on mouse-over */
.pill-nav a:hover {
    background-color: var(--accent1-color);
    color: var(--accent2-color);
}

/* Add a color to the active/current link */
.pill-nav a.active {
    background-color: var(--primary-color);
    color: var(--accent2-color);
}

.pill-nav {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#introduction {
    padding: 3vh 2vw;
}

.beaches-title {
    font-size: 3vw;
    text-align: center;
    margin-bottom: 3vh;
    margin-top: 1.5vw;
    color: var(--primary-color);

}

.thermal-title{
    font-size: 3vw;
    text-align: center;
    margin-bottom: 3vh;
    margin-top: 1.5vw;
    color: var(--primary-color);
}

.intro-thermal-container{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 88vw;
    height: 18vh;
    text-align: center;
    background-color: var(--primary-color);
    margin-right: 3vh;
    margin-left: 3vh;
    margin-bottom: 1vw;
    color: var(--text-background-accent1);
    padding: 8vh 8vh;
    font-size: 1.3vw;
}

.thermal-container-1{
    display: inline-flex;
    padding: 3.5vh 0vh; 
    margin-right: 3vh;
    margin-left: 3vh;
}
.thermal-container{
    display: inline-flex;
    padding: 3.5vh 0vh; 
    margin-right: 3vh;
    margin-left: 3vh;
} 
.thermal-text{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 64vw;
    height: 28vh;
    /* text-align: center; */
    background-color: var(--primary-color);
    margin-right: 1vh;
    margin-left: 1vh;
    margin-bottom: 1vw;
    color: var(--text-background-accent1);
    padding: 8vh 8vh;
    font-size: 1.3vw;
}

.thermal-text > div > h2{
    font-size: 2vw;
    text-align: center;
    margin-bottom: 2vh;
    color: var(--primary-accent1);
}

.thermal-text > div > p{
    font-size: 1.3vw;
    text-align: center;
    margin-bottom: 2vh;
    color: var(--primary-accent1);
}

.thermal-img > img {
    width: 100%;
    height: 44vh;
    object-fit: cover;
}
.home-title {
    font-size: 3vw;
    text-align: center;
    margin-bottom: 3vh;
    color: var(--primary-color);
}
.punta-del-este-title{
    font-size: 3vw;
    text-align: center;
    margin-bottom: 2vh;
    color: var(--primary-color);

}
.information-container {
    display: flex;
}
.punta-del-este-container{
    display: flex
}
.intro-beaches-container{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 88vw;
    height: 18vh;
    text-align: center;
    background-color: var(--primary-color);
    margin-right: 3vh;
    margin-left: 3vh;
    margin-bottom: 1vw;
    color: var(--text-background-accent1);
    padding: 8vh 8vh;
    font-size: 1.3vw;
}
#Punta-del-Este {
    margin-bottom: 10vh;
}
.punta-del-este-container>div{
    background-color: var(--primary-color);
    margin: 0 3vh 0 1vw;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
   
}
.punta-del-este-container>img{
    margin-left: 3vh;
}
.punta-del-este-container>img, 
.punta-del-este-container>div {
    width:50vw ;
    height: 50vh;

}
.punta-del-este-container>div>p {
    color: var(--text-background-accent1);
    font-size: 1.3vw;
    padding: 8vh 5vw;
    text-align: center;    
}

.information-container>div {
    width: 65vw;
    height: 26vh;
}

.information-container>div>p {
    background-color: var(--primary-color);
    margin-right: 3vh;
    color: var(--text-background-accent1);
    padding: 18vh 4vh;
    font-size: 1.3vw;
}

.information-container>img {
    width: 34vw;
}

#slider {
    font-family: sans-serif;
    margin: auto;
    background-color: white;
    max-width: 1920px;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
}

#slider>ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

#slider>ul.slider {
    position: relative;
    max-width: 1920px;
    width: 100%;
    height: 700px;
}

#slider>ul.slider h1 {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 10px;
    left: 50%;
    top: 100px;
    transform: translate(-50%, -50%);
}

#slider>ul.slider li {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .5s;
    background: #fff;
}

#slider>ul.slider li img {
    width: 100%;
    height: 700px;
    object-fit: cover;
}

#slider>ul.slider li:first-child {
    opacity: 1;
}

#slider>ul.slider li:target {
    opacity: 1;
}

#slider>.menu {
    text-align: center;
    margin: 20px;
}

#slider>.menu li {
    display: inline-block;
    text-align: center;
}

#slider>.menu li a {
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: var(--secondary-color);
    padding: 10px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    border-radius: 100%;
}

footer {
    background-color: var(--primary-color);
    padding: 2vh 4vw;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    font-size: 1vw;
    color: var(--secondary-color);
}

.logo-reg>img {
    width: 12vw;
}

.link-plan {
    text-decoration: none;
}

.link-plan:visited {
    color: var(--secondary-color);
}